
#menuList {
 
  border: 0px solid gray;
  margin: 0px;
  padding: 10px;
  line-height:0px;
 
}

#menuList li {
 list-style: none;
  display: inline;
}

#menuList li a, #menuList1 li a:focus {
  list-style: none;
  background-color: black;
  border: 1px solid black;
  margin: 0;
  text-decoration: none;
  color: white;
  font-family: Verdana,Arial,Helvetica; 
  font-size: 12px;
  font-weight:bold;
  padding: 10px;/* Cuanto mayor sea el espaciado, mas grande será el area del botón. */
}

#menuList li a:hover {
  background-color: red;
  border-color: black;
  color: white;
}

.mensajes
{
   color:Red;
   font-size:large;
   font-weight:bold;
      
 }

.titulosPaneles
{
   color:Black;
   font-size:large;
   font-weight:bold;
      
 }
 
.modal
{
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;   
 }

.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }  